@charset "utf-8";
@import "./variable.scss";

//遍历主题map
@mixin themeify {
  @each $theme-name,
  $theme-map in $themes {
    $theme-map: $theme-map !global;
    [data-theme="#{$theme-name}"] & {
      @content;
    }
  }
}

//声明一个根据Key获取颜色的function
@function themed($key) {
  @return map-get($theme-map, $key);
}

//获取背景颜色
@mixin background_color($color) {
  @include themeify {
    background-color: themed($color) !important;
  }
}

//获取字体颜色
@mixin font_color($color) {
  @include themeify {
    color: themed($color) ;
  }
}

//获取边框颜色
@mixin border_color($color) {
  @include themeify {
    border-color:themed($color);
  }
}
//获取阴影颜色
@mixin shadow_color($color) {
  @include themeify {
    box-shadow: 0px 12px 32px 0px themed($color) !important;
  }
}