img {
    width: 50%;
}
.step-one-img {
    width: 20%;
}
li {
    list-style: none;
}

.alert {
    box-sizing: content-box;
    position: fixed;
    padding: 40px 64px;
    display: none;
    left: 50%;
    top: 50%;
    max-height: 90vh;
    max-width: 1000px;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    font-size: 14px;
    transform: translate(-50%, -50%);
    /* border-radius: 8px; */
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
    z-index: 1;
}

.alert::-webkit-scrollbar-track {
    /* border-radius: 8px; */
    background-color: #CAEAFF;
}

.alert::-webkit-scrollbar {
    /* border-radius: 8px; */
    width: 0px;
    background-color: #F5F5F5;
}

.alert::-webkit-scrollbar-thumb {
    /* border-radius: 4px; */
    background: rgba(0, 47, 167, 0.1);
}

.alert .title-h2 {
    font-size: 22px;
    text-align: center;
}

.alert .title-h2 .help-icon {
    width: 24px;
    position: relative;
    top: -4px;
}

.alert .title-h3 {
    position: relative;
    display: inline-block;
    font-size: 18px;
    color: #000000;
    margin-top: 24px;
}

.alert .tip-box {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    padding: 5px 10px;
    width: max-content;
    transform: translateX(-110%);
    font-size: 18px;
    background-color: rgba(218, 35, 25, 1);
    color: rgba(255, 255, 255, 1);
    /* border-radius: 3px; */
    z-index: 2;
}

.alert .evaluates {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.alert .evaluates .issue {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    padding: 3px 15px;
    font-size: 14px;
    border: 1px solid transparent;
    box-sizing: border-box;
    color: #000000;
}

.alert .evaluates .active-border {
    border: 1px solid #002FA7;
    color: #002FA7;
}

.btn-submit {
    position: relative;
}
.alert .textarea-box{
    margin-top: 16px;
    min-height: 100px;
}
.textarea-box p {
    color: #4e4f53;
    text-align: right;
}
.alert .issue .issue-detail,
.btn-submit .submit-tip{
    position: absolute;
    top: -20px;
    left: -16px;
    padding: 8px 10px;
    width: 260px;
    color: #777777;
    text-align: left;
    font-size: 12px;
    background-color: white;
    transform: translateY(-100%) scale(0);
    border: 1px solid #002FA7;
    z-index: 1;
    transition: all 0.5s;
    display: block;
}
.btn-submit .pr-submit-tip{
    width: 392px !important;
    height: 234px !important;
    background-image: url(../img/detail/pr-tip.gif);
    background-size: 100% 100%;
}
.btn-submit .tip-show{
    transform: translateY(-100%) scale(1);
}
.alert .issue:hover .issue-detail {
    transform: translateY(-100%) scale(1);
}
/* .alert .issue:hover .issue-detail,
.btn-submit:hover .submit-tip {
    transform: translateY(-100%) scale(1);
} */

.btn-submit .submit-tip {
    padding: 10px 15px;
    line-height: 25px;
    width: 280px;
}

.login-tip {
    display: none;
    overflow: hidden;
    position: absolute;
    /* border-radius: 5px; */
    padding: 5px;
    align-items: center;
    justify-content: center;
    top: 0;
    font-size: 18px;
    left: 110%;
    width: 305px;
    color: #3d3c3c;
}

.login-tip::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
    background-size: 50% 100%;
    animation: rainbowSlide 8s linear infinite;
}

@keyframes rainbowSlide {
    100% {
        background-position: -400% 0;
    }
}

.main-tip {
    flex: 1;
    display: flex;
    padding-left: 10px;
    font-size: 16px;
    color: #000000;
    text-align: center;
    position: relative;
    height: 30px;
    /* border-radius: 3px; */
    line-height: 30px;
    background-color: black;
    color: white;
}


.issue-detail::before,
.issue-detail::after,
.score-detail::after,
.score-detail::before,
.submit-tip::after,
.submit-tip::before {
    content: ' ';
    border-top: 12px solid #002FA7;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    bottom: -12px;
    left: 40px;
}

.issue-detail::after,
.submit-tip::after {
    border-top: 12px solid white;
    bottom: -11px;
}

.score-detail::after,
.score-detail::before {
    border-top: 4px solid #002FA7;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    left: 10px;
    bottom: -4px;
}

.score-detail::after {
    border-top: 4px solid white;
    bottom: -3px;
}

.issue-detail p {
    position: relative;
    margin-bottom: 8px;
    padding-left: 10px;
}

.alert .satisfaction {
    margin-top: 16px;
    display: flex;
    justify-items: start;
    align-items: center;
    color: #8f9091;
}

.alert .satisfaction .score-box {
    display: flex;
    align-items: center;
}

.satisfaction .score-box .score {
    position: relative;
    cursor: pointer;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    transition: all 0.3s;
    color: #2e2d2d;
    line-height: 30px;
    /* border-radius: 5px; */
    background-color: #e5e8f0;
}
.satisfaction .score-box .score:hover{
    color: #002FA7;
    background-color: #b2c0e4;
}
.score:hover .score-detail {
    transform: translateY(-100%) scale(1);
}

.score .score-detail {
    position: absolute;
    display: block;
    padding: 0 5px;
    width: max-content;
    top: -7px;
    color: #000000;
    background-color: #fff;
    /* border-radius: 3px; */
    border: 1px solid #002FA7;
    transform: translateY(-100%) scale(0);
    transition: all 0.5s;
}

.score-box .score:last-child {
    margin-right: 10px;
}

.satisfaction .score-box .active {
    color: #002FA7;
    background-color:#b2c0e4;
}

.alert .main-input {
    width: 100%;
    outline: none;
    min-height: 100px;
    padding: 8px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #cbd5de;
    background-color: #f5f6f8;
    overflow: auto;
    resize: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.alert .main-input:focus {
    border-color: #002fa7;
}

.checkbox-list {
    display: flex;
    padding: 0;
}

.checkbox-item input[type='radio'] {
    cursor: pointer;
    width: 16px;
    display: none;
    margin-right: 10px;
    outline: none;
}

.checkbox-item {
    position: relative;
    margin-left: 50px;
}

.checkbox-item:first-child {
    margin-left: 0;
}

.privacy-item .checkbox-item {
    margin: 0;
    text-align: center;
}
.email .text-email{
    position: relative;
    display: inline-block;
}

.privacy-box a {
    color: #002FA7;
    font-size: inherit;
    text-decoration: underline;
}
.alert .privacy-box{
    margin-top: 24px;
    display: flex;
    justify-content: center;
}
.label {
    cursor: pointer;
    padding-left: 25px;
    font-size: 16px;
}

.label:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 0;
    width: 17px;
    height: 17px;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 50%;
}

.label:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 0;
    top: 3px;
    background-color: #002FA7;
    border: 2px solid #fff;
    box-shadow: 0 0 2px 1px #002FA7;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.2s linear;
    z-index: 2;
}

.checkbox-item input[type='radio']:checked+.label:after {
    transform: scale(1);
}
.alert .email {
    margin-top: 24px;
}
/* .email .email-input {
    box-sizing: border-box;
    margin: 15px 0 30px 0;
    padding: 8px 10px;
    width: 100%;
    height: 30px;
    background: none;
    outline: none;
    border: 1px solid #cbd5de;
} */
.email .email-input{
    margin-top: 16px;
     padding: 8px 10px;
     width: 100%;
     height: 54px;
     background: none;
     outline: none;
     border: 1px solid #cbd5de;
     color: #000000;
     background-color: #f5f6f8;
 }

.email-input:focus {
    border-color: #002fa7;
}


.other-question {
    margin: 0 6px;
    border: 0;
    width: 35px;
    outline: none;
    border-bottom: solid 1px;
    background-color: transparent;
    font-size: inherit;
}

.feedback {
    cursor: pointer;
    position: fixed;
    display: none;
    width: 25px;
    background-color: white;
    /* border-radius: 5px; */
    z-index: 1;
}

.feedback img {
    display: block;
    width: 100%;
}

.evaluate-box {
    opacity: 0;
    position: absolute;
    left: -180px;
    top: 0;
    padding-right: 12px;
    transform: translateX(100px);
    z-index: -1;
    transition: all 0.5s;
}

.btn-submit {
    position: relative;
    display: block;
    width: 150px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    margin: 20px auto 0;
    text-align: center;
    /* border-radius: 3px; */
    background-color: #002fa7;
    color: #fff;
    cursor: pointer;
}

.alert .icon-close {
    position: absolute;
    cursor: pointer;
    display: block;
    background-image: url('../img/detail/close.png');
    width: 16px;
    height: 16px;
    right: 25px;
    top: 25px;
}

.alert-mask {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}

.right-nav {
    box-shadow: 2px 3px 5px 1px rgb(0 0 0 / 20%);
    position: fixed;
    right: 30px;
    top: 30%;
    z-index: 3;
}

.right-nav .nav-item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 64px;
    height: 64px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: white;
    box-sizing:border-box;
}

.right-nav .nav-item a {
    text-decoration: none;
    color:black;
}

.right-nav .nav-item a:hover {
    color: #fff;
}

#content>*:first-child {
    margin-top: 0 !important;
}
#title-evaluate {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 4;

}

#title-evaluate .nav-item a {
    font-size: 16px;
    color: inherit;
}

.right-nav .nav-item:hover {
    overflow: visible;
    color: white;
    background-color: #002FA7;
}

.right-nav .nav-item:nth-child(1) {
    background-image: url('../img/detail/inside1.png');
}

.right-nav .nav-item:nth-child(2) {
    background-image: url('../img/detail/inside2.png');
}

.right-nav .nav-item:nth-child(3) {
    position: relative;
    background-image: url('../img/detail/inside3.png');
}

#title-evaluate .nav-item:nth-child(3):hover .evaluate-box {
    transform: translateX(0);
    opacity: 1;
}

.right-nav .nav-item:nth-child(4) {
    background-image: url('../img/detail/inside4.png');
}

#title-evaluate .evaluate span {
    font-size: 14px;
    color: #000000;
    line-height: 17px;
}


.shake1 {
    animation: shake1 0.1s linear infinite;
}

.shake {
    animation: shake 1.5s linear infinite;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(110%);
    }

    10% {
        transform: translateX(110%);
    }

    15%,
    25%,
    35% {
        transform: translateX(110%);
    }

    20%,
    30%,
    40% {
        transform: translateX(120%);
    }

    45% {
        transform: translateX(110%);
    }

    50% {
        transform: translateX(120%);
    }

    55%,
    90% {
        transform: translateX(110%);
    }
}

@keyframes shake1 {

    0%,
    100% {
        transform: translateX(5px);
    }

    10% {
        transform: translateX(5px);
    }

    15%,
    25%,
    35% {
        transform: translateX(-5px);
    }

    20%,
    30%,
    40%,
    50% {
        transform: translateX(-5px);
    }

    55%,
    90% {
        transform: translateX(5px);
    }
}


.question {
    display: none;
}

.alert .submit-type{
    display: flex;
    width: 100%;
    margin-top: 16px;
    padding-bottom: 12px;
    border-bottom: 1px solid #e5e5e5;
}
.alert .submit-type .active-submit{
    border: 1px solid #002FA7;
    color: #002FA7;
}
.alert .submit-type .type-issue{
    margin-right: 20px;
    position: relative;
}
.alert .submit-type .type-issue .issue-tip,.alert .submit-type .type-PR .PR-tip{
    width: 150px;
    padding: 8px 10px;
    background-color: #fff;
    border: 1px solid #002FA7;
    color: #777777;
    position: absolute;
    top:-80px;
    left: -30px;
    transform: scale(0);
    transition: all 0.5s;
}
.alert .submit-type .type-issue:hover .issue-tip,.alert .submit-type .type-PR:hover .PR-tip{
    transform: scale(1);
}
.alert .submit-type .type-PR .PR-tip{
    width: 200px;
    top:-80px;
}
.alert .submit-type .type-issue .issue-tip::before,.alert .submit-type .type-PR .PR-tip::before{
    content: ' ';
    border-top: 12px solid #002FA7;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    bottom: -12px;
    left: 40px;
}
.alert .submit-type .type-issue .issue-tip::after,.alert .submit-type .type-PR .PR-tip::after{
    content: ' ';
    border-top: 12px solid #fff;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    bottom: -11px;
    left: 40px;
}
.alert .submit-type .type-title,.alert .evaluates .issue-title{
    color: #000000;
    margin-right: 24px;
    display: block;
    padding: 3px 0;
}
.alert .submit-type>span+span{
    color: #000000;
    display: block;
    padding: 3px 15px;
    cursor: pointer;
    border: 1px solid transparent;
    position: relative;
}
.alert .submit-type span .tip{
    position: absolute;
    bottom: 30px;
    background-color: #fff;
}
